.socialMedia {
  @extend %flex;
  gap: 0.5rem;
  max-height: 98px;
  padding: 1rem 0;

  a {
    width: 40px;
  }
}

.socialMediaIco {
  height: 30px;
  transition: filter 0.2s;
  width: 30px;

  path {
    fill: $green-500;
    transition: fill 0.2s;
  }

  &:hover {
    filter: brightness(0.9);

    path {
    fill: $white;
    }
  }
}
