.header {
  background: $gray-900;
  border: 1px solid $gray-400;
  height: 5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-higher;
}

.wrapper {
  @extend %align-items-center;
  @extend %flex;
  @extend %justify-content-space-between;
  height: inherit;
  padding: 0 2rem;

  nav {
    height: inherit;
    margin-left: 5rem;
  
    a {
      color: $gray-300;
      display: inline-block;
      height: inherit;
      line-height: 5rem;
      padding: 0 0.5rem;
      position: relative;
      text-decoration: none;
      transition: color 0.2s;
  
      & + a {
        margin-left: 2rem;
      }
  
      &:hover {
        color: $white;
      }

      &.active {
        color: $green-500;
        font-weight: bold;
        &:after {
          background-color: $green-500;
          border-radius: 3px 3px 0 0;
          bottom: 1px;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  
    @media #{$media-max487} {
      margin-left: 2.5rem;
  
      a {
        & + a {
          margin-left: 1rem;
        }
      }
    }
  }

  @media #{$media-max487} {
    padding: 0 1rem;

    button {
      bottom: 10px;
      position: fixed;
      right: 10px;

      span {
        display: none;
      }

      svg {
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}

.icoGlasses {
  height: 40px;
  width: 40px;

  @media #{$media-max487} {
    width: 50px;
  }
}