.footer {
  @extend %align-items-center;
  @extend %flex;
  @extend %flex-direction-column;
  margin: 2rem 0;

  span {
    color: $gray-375;
    font-family: $font-fira-code;
  }

  @media #{$media-max992} {
    margin-top: 0;
  }
}

.avatar {
    height: auto;
    margin-top: 20px;
    width: 60px;
}

.socialMedia {
  a {
    width: 30px;

    &:last-child {
      width: 20px;
    }
  }

  svg {
    height: 20px;
    width: 20px;

    path {
      fill: $gray-350;
    }
  }
}