$primary:#2f2d2d;
$secondary: #1d887a;
$tertinary: #888585;

$facebook: #29487d;
$linkedin: #0077b5;
$github: #24292e;

$border01: #ccc;

// social media
$facebook: #29487d;
$github: #181717;
$instagram: #E4405F;
$linkedin: #0077B5;
$youtube: #FF0000;

$white: #fff;
$gray-100: #e1e1e6;
$gray-300: #a8a8b3;
$gray-350: #888585;
$gray-375: #545454;
$gray-400: #3e3b3b;
$gray-500: #353232;
$gray-800: #2d2a2a;
$gray-900: #2f2d2d;
$gray-950: #232323;
$green-500: #1d887a;

$background: #232323;
