%align-items-center {
    -webkit-align-items: center;
      -webkit-box-align: center;
         -moz-box-align: center;
         -ms-flex-align: center;
            align-items: center;
  }
  
  %flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  %flex-direction-column {
    -webkit-flex-direction: column;
     -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
           -moz-box-orient: vertical;
            flex-direction: column;
  }
  
  %flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  %justify-content-center {
    -webkit-justify-content: center;
           -webkit-box-pack: center;
            justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
  }
  
  %justify-content-space-between {
    -webkit-justify-content: space-between;
           -webkit-box-pack: justify;
            justify-content: space-between;
              -moz-box-pack: justify;
              -ms-flex-pack: justify;
  }

  %shadow {
    -moz-box-shadow:    0 0 20px 0 #191818;
    -webkit-box-shadow: 0 0 20px 0 #191818;
    box-shadow:         0 0 20px 0 #191818;
  }
  