@mixin flex-direction-column {
    -webkit-flex-direction: column;
     -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
           -moz-box-orient: vertical;
            flex-direction: column;
  }
  
  @mixin flex-order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
       -moz-box-ordinal-group: $int + 1;
                -webkit-order: $int;
               -ms-flex-order: $int;
                        order: $int;
  }
  
  @mixin flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }