$z-index-lowest: -100;
$z-index-lower: -10;
$z-index-low: -1;
$z-index: 0;
$z-index-high: 1;
$z-index-higher: 10;
$z-index-highest: 100;

$wrapper: 1120px;

$margin-bottom-default: 20px;

$media-max992: 'screen and (max-width: 992px)';
$media-max500: 'screen and (max-width: 500px)';
$media-max487: 'screen and (max-width: 487px)';