.wrapper {
  @extend %flex;
  @extend %justify-content-center;
  @extend %flex-direction-column;
  margin: 0 auto;
  max-width: $wrapper;
  padding: 0 30px;

  h1 {
    color: $secondary;
    font-size: 32px;
    margin: 70px 0;
  }

  .fallBackImg {
    @extend %align-items-center;
    @extend %flex;
    @extend %justify-content-center;

    svg {
      height: 50px;
      width: 50px;

      * {
        stroke: $gray-375;
      }
    }
  }

  .variationA,
  .variationB,
  .variationC1,
  .variationC2,
  .variationD1,
  .variationD2 {
    gap: 1rem;
    margin-bottom: 20px;
    width: 100%;
  }

  .variationA {
    article {
      background-color: $gray-350;
      height: 300px;
      width: 100%;
    }
  }

  .variationB {
    @extend %flex;

    article {
      background-color: $gray-350;
      height: 250px;
      width: 50%;
    }
  }

  .variationC1 {
    @extend %flex;
    > article,
    > div {
      width: 50%;
    }

    article {
      background-color: $gray-350;
    }

    > article {
      height: 516px;
    }

    > div {
      @extend %flex;
      @extend %flex-direction-column;
      gap: 1rem;

      article {
        height: 250px;
      }
    }
  }

  .variationD1 {
    @extend %flex;
    gap: 1rem;
    
    article {
      background-color: $gray-350;
      height: 250px;
      width: 25%;
    }
  }
}
